<!DOCTYPE html>
<html>

<head>
    <title>Scelta attori</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
    <div class="heeaderContainer">
        <a href="/"><img src="/images/logo-siw.png" width="15%"/></a>
        <div>
            <div class="login-box" th:if="${userDetails}">
                <span th:text="${userDetails.username}"></span>
                <a href="/logout">Logout</a>
            </div>
            <div th:unless="${userDetails}" class="login-box">
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
</header>

<h1 th:text="'Attori del film ' + ${movie.title}"></h1>
<div class="hobj" th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
<div class="movies-container">
    <div th:each="artist : ${movie.actors}">
        <a th:href="@{'/admin/removeActorFromMovie/'+ ${artist.id}+'/'+${movie.id}}">
            <div class="movie-container">
                <div class="movie-image">
                    <img th:if="${artist.encodedImage}" th:src="'data:image/jpeg;base64,' + ${artist.encodedImage}" alt="Movie Image" />
                </div>
                <div class="movie-details">
                    <span class="movie-title" th:text="${artist.name} + ' ' + ${artist.surname}"></span>
                </div>
            </div>
        </a>
    </div>
</div>
<h1>
    Attori che si possono aggiungere:
</h1>
<div class="movies-container">
    <div th:each="artist : ${actorsToAdd}">
        <a th:href="@{'/admin/addActorToMovie/'+ ${artist.id}+'/'+${movie.id}}">
            <div class="movie-container">
                <div class="movie-image">
                    <img th:if="${artist.encodedImage}" th:src="'data:image/jpeg;base64,' + ${artist.encodedImage}" alt="Movie Image" />
                </div>
                <div class="movie-details">
                    <span class="movie-title" th:text="${artist.name} + ' ' + ${artist.surname}"></span>
                </div>
            </div>
        </a>
    </div>
</div>
<div>
    <a class="hobj" th:href="@{'/admin/formUpdateMovie/'+ ${movie.id}}">
        <button class="movie-button green-button hobj" type="button">Fine</button>
    </a>
</div>
</body>

</html>