<!DOCTYPE html>
<html>

<head>
  <title>
    New Artist
  </title>
  <link rel="stylesheet" href="/css/stile.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
<header>
  <div class="heeaderContainer">
    <a href="/"><img src="/images/logo-siw.png" width="15%"/></a>
    <div>
      <div class="login-box" th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
      </div>
      <div th:unless="${userDetails}" class="login-box">
        <a href="/login">Login</a>
      </div>
    </div>
  </div>
</header>

<h1 class="hform">Aggiungi un artista</h1>
<div class="content-container">
<form th:action="@{/admin/artist}" method="POST" th:object="${artist}"
      enctype="multipart/form-data"
      style="max-width: 400px; margin: 0 auto;"
>
  <div>
    <span th:text="${messaggioErrore}">Errore</span>
  </div>

  <div>
    <label>Nome:</label> <span><input required type="text" th:field="${artist.name}" /></span>
  </div>

  <div>
    <label>Cognome:</label> <span><input required type="text" th:field="${artist.surname}" /></span>
  </div>

  <div>
    <label>Data di nascita:</label> <span><input type="date" th:field="${artist.dateOfBirth}" /></span>
  </div>

  <div>
    <label>Data di morte:</label> <span><input type="date" th:field="${artist.dateOfDeath}" /></span>
  </div>

  <div>
    <label>Immagine:</label> <span><input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg"/></span>
  </div>

  <div>
    <img id="thumbnail" alt="Logo Preview" />
  </div>

  <div>
    <span><button type="submit">Conferma</button></span>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#fileImage').change(function(){
        showImageThumbnail(this);
      })
    })

    function showImageThumbnail(fileInput){
      file = fileInput.files[0];
      reader = new FileReader();
      reader.onload = function(e) {
        $('#thumbnail').attr('src', e.target.result);
      };
      reader.readAsDataURL(file);
    }
  </script>


</form>
</div>
</body>

</html>