<!DOCTYPE html>
<html>
<head>
  <title>
    SiwMovie - Gestione Artisti
  </title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
<header>
  <div class="heeaderContainer">
    <a href="/"><img src="/images/logo-siw.png" width="15%"/></a>
    <div>
      <div class="login-box" th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
      </div>
      <div th:unless="${userDetails}" class="login-box">
        <a href="/login">Login</a>
      </div>
    </div>
  </div>
</header>

<h1 class="consult-archive">Gestione Artisti</h1>
<div class="consult-archive">
  <a href="/admin/formNewArtist" class="consult-archive-link">Inserisci i dati di un artista</a>
</div>
<div class="consult-archive">
  <a href="/admin/manageArtists" class="consult-archive-link">Gestisci artisti</a>
</div>
</body>
</html>