body {
    font-family: "Geneva";
    color: dimgrey;
    background: url(../images/backgroundMovie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
}

h1{
    color: whitesmoke;
    font-family: Times, Times New Roman, serif;
}
a {
    text-decoration: none;
    color: whitesmoke;
}

.hobj {
    font-family: Times, Times New Roman, serif;
    text-decoration: none;
    color: whitesmoke;
    font-size: xx-large;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

header {
    font-family: Times, Times New Roman, serif;
    text-decoration: underline;
}
.headerIndex{
    display: flex;
    font-family: Times, Times New Roman, serif;
    text-decoration: underline;
    justify-content: right;
}
.heeaderContainer{
    display: flex;
    justify-content: space-between;
}
.hlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.logo-container img {
    width: 20%;
}

.login-box {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.login-box a {
    color: black;
    font-size: 1.2em;
}

.form-search {
    display: flex;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 5px 10px;
    margin:10px auto;
}

.form-search input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 1em;
}

.form-search input[type="text"] {
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
}

.slideshow-container {
    position: relative;
    width: 800px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
}

.slideshow-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slideshow-image {
    flex: 0 0 100%;
    object-fit: contain;
    height: 100%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.consult-archive {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.consult-archive-link {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Helvetica Neue", Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.consult-archive-link:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.film-title {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.slideshow-item:hover .image-overlay {
    opacity: 1;
}

/*==========================================
Movies.html
============================================*/

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.movie-container {
    flex: 0 0 calc(25% - 20px);
    max-width: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.movie-image {
    height: 200px;
}

.movie-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.movie-details {
    margin-top: 10px;
}

.movie-title {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

.movie-year {
    color: black;
    font-size: 1em;
}



/* =============================================
Movie.html
================================================*/


.movie-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-image {
    display: block;
    margin: 0 auto;
}

.review-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.review-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.review-button:hover {
    background-color: gold;
}

.movie-info-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.movie-data {
    text-align: center;
    font-size: 1.2em;
}

.movie-title {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.movie-year {
    color: black;
    font-size: 1.2em;
}

.review-block {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    max-width: 500px;
}

.film-details-wrapper {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.centered-heading {
    color: whitesmoke;
    font-family: Times, Times New Roman, serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
}

.reviewTitle {
    font-size: x-large;
    color: #0b0b89;
    font-family: Times, Times New Roman, serif;
}

.reviewContent {
    font-size: x-large;
    color: #000000;
    font-family: Times, Times New Roman, serif;
}

/*==========================================
Form creazione
============================================ */

.hform{
display: flex;
justify-content: center;
}

.content-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: yellow;
    border-radius: 20px;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: gold;
}

#thumbnail {
    max-width: 410px;
}

/*
form update movie
 */
.btnazione{
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: xx-large;
    font-family: Times, Times New Roman, serif;
    margin: 5px 10px;
    cursor: pointer;
    width: 280px;
    height: 100px;
    box-sizing: border-box;

}
.movie-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.yellow-button {
    border: none;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
    background-color: yellow;
    padding: 20px 60px;
}

.green-button {
    border: none;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
    background-color: green;
    color: white;
    padding: 20px 60px;
}

.red-button {
    border: none;
    border-radius: 5px;
    max-width: 400px;
    margin: 20px auto;
    background-color: red;
    color: white;
    padding: 20px 60px;
}

.rb-block{
    font-family: Times, Times New Roman, serif;
    text-decoration: none;
    color: whitesmoke;
    font-size: xx-large;
    display: block;
    margin: 20px;
}

.formContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*
formNewReview
 */

.voto{
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

.recensione{
    width: 100%;
    height: 150px;
    resize: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: left;
    overflow-wrap: break-word;
}

/* ================================
manageReviews
=================================== */

.review-block {
    position: relative;
}

.remove-review-btn {
    align-self: flex-start; /* Allinea il bottone in alto a sinistra nel blocco */
}