<!DOCTYPE html>
<html>
<head>
  <title>Artista</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
  <div class="heeaderContainer">
    <a href="/"><img src="/images/logo-siw.png" width="15%"/></a>
    <div>
      <div class="login-box" th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
      </div>
      <div th:unless="${userDetails}" class="login-box">
        <a href="/login">Login</a>
      </div>
    </div>
  </div>
</header>


<h1 class="centered-heading">Dettagli Artista</h1>
<div th:if="${artist}" class="film-details-container">
  <div class="movie-image-container">
    <img class="centered-image" th:src="'data:image/jpeg;base64,' + ${artist.encodedImage}" />
  </div>

  <div class="movie-info-container">
    <div class="movie-data">
  <div th:text="${artist.name} + ' ' + ${artist.surname}">Dino Risi></div>
  <div th:text="'Data di nascita: ' + ${#temporals.format(artist.dateOfBirth, 'dd-MM-yyyy')}">20/20/2000</div>
      <div th:if="${artist.dateOfDeath}">
    <span th:text="'Data di nascita: ' + ${#temporals.format(artist.dateOfDeath, 'dd-MM-yyyy')}"></span>
    </div>
    </div>
  </div>
</div>
<div th:unless="${artist}">Non esiste</div>

<h2 class="hobj">Film diretti:</h2>
<div class="movies-container">
  <div class="hobj" th:if="${artist.directedMovies==null || artist.directedMovies.isEmpty()}">Non ci sono film diretti da questo artista</div>
  <div th:each="movie : ${artist.directedMovies}">
    <a th:href="@{'/movie/' + ${movie.id}}">
      <div class="movie-container">
        <div class="movie-image">
          <img th:if="${movie.encodedImage}" th:src="'data:image/jpeg;base64,' + ${movie.encodedImage}" alt="Movie Image" />
        </div>
        <div class="movie-details">
          <span class="movie-title" th:text="${movie.title}"></span>
          <span class="movie-year" th:text="'(' + ${movie.year} + ')'"></span>
        </div>
      </div>
    </a>

  </div>
</div>

<h2 class="hobj">Film in cui ha partecipato come attore:</h2>
<div class="movies-container">
  <div class="hobj" th:if="${artist.starredMovies==null || artist.starredMovies.isEmpty()}">Non ci sono film in cui ha partecipato come attore</div>
  <div th:each="movie : ${artist.starredMovies}">
    <a th:href="@{'/movie/' + ${movie.id}}">
      <div class="movie-container">
        <div class="movie-image">
          <img th:if="${movie.encodedImage}" th:src="'data:image/jpeg;base64,' + ${movie.encodedImage}" alt="Movie Image" />
        </div>
        <div class="movie-details">
          <span class="movie-title" th:text="${movie.title}"></span>
          <span class="movie-year" th:text="'(' + ${movie.year} + ')'"></span>
        </div>
      </div>
    </a>
  </div>
</div>
</body>
</html>
