<!DOCTYPE html>
<html>

<head>
  <title>Artisti</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
  <div class="heeaderContainer">
    <a href="/"><img src="/images/logo-siw.png" width="15%"/></a>
    <div>
      <div class="login-box" th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
      </div>
      <div th:unless="${userDetails}" class="login-box">
        <a href="/login">Login</a>
      </div>
    </div>
  </div>
</header>


<h1>Artisti</h1>
<div th:if="${artists==null || artists.isEmpty()}">Non ci sono artisti nel sistema</div>
<div class="movies-container">
  <div th:each="artist : ${artists}">
    <a th:href="@{'/artist' + '/' + ${artist.id}}">
      <div class="movie-container">
        <div class="movie-image">
          <img th:if="${artist.encodedImage}" th:src="'data:image/jpeg;base64,' + ${artist.encodedImage}" alt="Movie Image" />
        </div>
        <div class="movie-details">
          <span class="movie-title" th:text="${artist.name} + ' ' + ${artist.surname}"></span>
        </div>
      </div>
    </a>
  </div>
</div>
</body>

</html>