<!DOCTYPE html>
<html>

<head>
  <title>
    SiwMovie - Login
  </title>
  <link rel="stylesheet" href="/css/loginStile.css" />
</head>

<body>
<header>
  <a href="/"><img src="/images/logo-siw.png" width="150" /></a>
</header>
<div class="container">
  <div class="login-block">
    <form th:action="@{/login}" method="POST">
      <div class="input-group">
        <input name="username" type="text" placeholder="Username" required>
      </div>
      <div class="input-group">
        <input name="password" type="password" placeholder="Password" required>
      </div>
      <div>
        <span th:if="${param.error != null}">Username o password errati</span>
      </div>
      <div class="button-group">
        <button type="submit">Login</button>
      </div>
    </form>
    <div>
      <a class="register-button" th:href="@{/register}" th:text="Registrati">Register</a>
    </div>
  </div>
</div>
</body>
</html>