<!DOCTYPE html>
<html>

<head>
  <title>Film</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
<header>
  <div class="heeaderContainer">
    <a href="/"><img src="/images/logo-siw.png" width="15%"/></a>
    <div>
      <div class="login-box" th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
      </div>
      <div th:unless="${userDetails}" class="login-box">
        <a href="/login">Login</a>
      </div>
    </div>
  </div>
</header>


<h1>Film</h1>
<div th:if="${movies==null || movies.isEmpty()}">Non ci sono film nel sistema</div>
<div class="movies-container">
  <div th:each="movie : ${movies}">
    <a th:href="@{'/movie' + '/' + ${movie.id}}">
      <div class="movie-container">
        <div class="movie-image">
          <img th:if="${movie.encodedImage}" th:src="'data:image/jpeg;base64,' + ${movie.encodedImage}" alt="Movie Image" />
        </div>
        <div class="movie-details">
          <span class="movie-title" th:text="${movie.title}"></span>
          <span class="movie-year" th:text="'(' + ${movie.year} + ')'"></span>
        </div>
      </div>
    </a>
  </div>
</div>
</body>

</html>