<!DOCTYPE html>
<html>

<head>
  <title>SiwMovie - Registrazione conclusa</title>
  <link rel="stylesheet" href="/css/loginStile.css" />
</head>

<body>
<header>
    <a href="/"><img src="/images/logo-siw.png" width="150"/></a>
</header>

<div class="container">
  <div class="login-block">
    <h1>Congratulazioni ti sei registrato!</h1>
    <div class="input-group">
      <span>Nome: </span>
      <span th:text="${user.name}"></span>
    </div>
    <div class="input-group">
      <span>Cognome: </span>
      <span th:text="${user.surname}"></span>
    </div>
    <div class="input-group">
      <span>Email: </span>
      <span th:text="${user.email}"></span>
    </div>
  </div>
</div>

</body>
</html>